@font-face {
	font-family: 'ElRioLobo';
	src: url('../fonts/The_Emperors_font.eot');
	src: url('../fonts/The_Emperors_font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/The_Emperors_font.woff') format('woff'),
		 url('../fonts/The_Emperors_font.ttf')  format('truetype'),
		 url('../fonts/The_Emperors_font.svg#04a895ec2b9535ff55881607625d1b84') format('svg');

	font-style: normal;
	font-weight: 400;
}


h1 ,h2{
    font-family: 'Elriolobo'; 

}
.b{
    margin-top: 0;
    
}
.primero p{
    margin:0;
    color: white;
}
#Primero{
   height: 100px;
    text-align: center;
    background-color: rgb(174,0,49);
    color: white;

}
.c{
    padding: 25px 0;
}
.segundo{

    height: auto;
    background-color: rgb(3, 102, 214);
    text-align: center;
    
    
}

.ultimo{
    font-family:'Elriolobo';
    text-align: center;
    font-size: 70px;
    
}


.contenedor{
background-image: url("../images/cuzco2.jpg");
background-repeat: no-repeat;
background-size: cover;
 text-align: right;
 height: 600px;   
 color: white;
}

