@font-face {
	font-family: 'ElRioLobo';
	src: url('../fonts/The_Emperors_font.eot');
	src: url('../fonts/The_Emperors_font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/The_Emperors_font.woff') format('woff'),
		 url('../fonts/The_Emperors_font.ttf')  format('truetype'),
		 url('../fonts/The_Emperors_font.svg#04a895ec2b9535ff55881607625d1b84') format('svg');

	font-style: normal;
	font-weight: 400;
}

#Primero{
    
    text-align: center;
    background-color: rgb(174,0,49);

}

#segundo{
    background-color: rgb(3, 102, 214);
    
}


.contenedor{
    position: relative;
}

.texto-derecho{
    position: absolute;
    top: 50px;
    left: 280px;
}
